TICKFLOW_API_KEY=
INVESTMENT_RUNTIME_DIR=
WEB_DOMAIN=
WEB_ORIGIN=
WEB_USERNAME=
WEB_PASSWORD_HASH=
WEB_BIND_IP=
POSITION_DATA_DIR=
ENABLE_FANGTANG=false
ENABLE_WECHAT=false
REMINDER_DRY_RUN=true
REMINDER_STATE_DIR=
SERVERCHAN_SENDKEY=
